In [35]:
#0. Define a dictionary,composed with students name and their grade.
Marks = {
    'Andy':88,
    'Amy':66,
    'James':90,
    'Jules':55,
    'Arthur':77}

In [36]:
Marks

{'Andy': 88, 'Amy': 66, 'James': 90, 'Jules': 55, 'Arthur': 77}

In [37]:
#1. Using for loop,print out all the students name and their grade
d = {'Andy':88,'Amy':66,'James':90,'Jules':55,'Arthur':77}
for names in d:
    print(names,d[names])

Andy 88
Amy 66
James 90
Jules 55
Arthur 77

In [49]:
#2. Of this dictionary, calculate all student's mean grade,maximal grade, and minimal grade.
def mean_grade(Marks):
    Marks={'Andy':88,'Amy':66,'James':90,'Jules':55,'Arthur':77}
    L=len(Marks)
    S=sum(Marks.values())
    mean=S/L
    return mean
mean_grade(Marks)

75.2

In [46]:
max(Marks.values())

90

In [48]:
min(Marks.values())

55

In [2]:
#3. Using for loop or while loop, for all the keys in the dictionary, print out key.However, if "j" appears, stop the loop.
for names in {'Andy':88,'Amy':66,'James':90, 'Jules':55,'Arthur':77}: 
    if 'J'in names:
         break
    print(names)

Andy
Amy

In [3]:
#4. Using for loop or while loop, for all the keys in the dictionary, print out key. However, if 'j' appears, skip this key, and continue the loop.
for names in {'Andy':88,'Amy':66,'James':90, 'Jules':55,'Arthur':77}:
    if 'J'in names:
        continue
    print(names)

Andy
Amy
Arthur

In [7]:
#5. Define a function
def print_student (student_name):
    marks={'Andy':88,'Amy':66,'James':90,'Jules':55,'Arthur':77}
    for student in marks:
        if student== student_name:
            return marks[student]
            break
    else:
        print('No entry with that name found.')
    
print_student("Amy")

66

In [8]:
#5. Define a function
def print_student (student_name):
    marks={'Andy':88,'Amy':66,'James':90,'Jules':55,'Arthur':77}
    for student in marks:
        if student== student_name:
            return marks[student]
            break
    else:
        print('No entry with that name found.')
    
print_student("Abby")

No entry with that name found.